html, body {
    height: 98%;
    width: 98%;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    background-color: black;
    color: lime;
    overflow-x: hidden;
    overflow-y: hidden;
}

#center {
    display: flex;
    align-items: stretch;
    height: 70%
}

#left-bar > #timer {
    font-size: 3vw;
}

#left-bar {
    padding: 2%;
    margin: 5% 5% 5% 5%;
    border: 2px solid lime;
    flex-grow: 1;
    text-align: center;
    width: 100%
}

#info {
    flex-grow: 9;
    overflow-y: scroll;
    text-align: justify;
}

header {
    margin: 0;
    text-align: center;
    font-size: 2vw;
}

#center > img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    bottom: 1vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer > img {
    width: 20%;
}

.timer {
    font-size: 2em;
}

/*
#buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}*/
